[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
backcall = "*"
"backports.entry-points-selectable" = "*"
certifi = "*"
colorama = "*"
debugpy = "*"
decorator = "*"
distlib = "*"
filelock = "*"
ipykernel = "*"
ipython = "*"
ipython-genutils = "*"
jedi = "*"
jupyter-client = "*"
jupyter-core = "*"
matplotlib-inline = "*"
mypy = "*"
mypy-extensions = "*"
numpy = "*"
pandas = "*"
parso = "*"
pickleshare = "*"
pipenv = "*"
platformdirs = "*"
prompt-toolkit = "*"
pycodestyle = "*"
pygments = "*"
python-dateutil = "*"
pytz = "*"
pywin32 = "*"
pyzmq = "*"
six = "*"

[dev-packages]

[requires]
python_version = "3.9"
