[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"
pandas = "*"
matplotlib = "*"
ipykernel = "*"
autopep8 = "*"
sklearn = "*"
ta-lib = {path = "./other resources/TA_Lib-0.4.21-cp37-cp37m-win_amd64.whl"}
pandas-ta = "*"
mplfinance = "*"
data-science-types = "*"
tensorflow = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.7"
